.indemnitor{
  font-size: .9rem;
}

.indemnitor .name{
  color: #999999;
}

.indemnitor .email{
  font-size: .8rem;
  color: #666666;
}

.indemnitor .phone, .indemnitor .relation{
  font-size: .75rem;
  color: #666666;
}