ion-label:not(.ion-color-danger){
  color: #666666 !important;
}
.payment-form{
  font-size: .9rem;
}

h5{
  text-align: center;
  color: #999999;
}


h6{
  text-align: center;
  color: #888888;
}

hr{
  background-color: #555555;
}