h6{
  text-align: center;
  color: #444444;
}

hr{
  background-color: #555555;
}

.stepper{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.step{
  width: 30px;
  height: 30px;
  color: #888888;
  border: 1px solid #888888;
  border-radius: 50%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
}

.step.active{
  color: white;
  background-color: #3880ff;
  border-color: #3880ff;
}

.bond-buttons {
  background-color: #3B5DBD;
  color: white;
  text-align: center;
  padding: .7rem !important;
  width: 100%;
  border-radius: .5rem;
  font-size: .95rem;
  margin: 0px;
}

.custom-button {
	background-color: #222;
  color: white;
	text-align: center;
	border: 1px solid #444;
  padding: .7rem !important;
  border-radius: .5rem;
  width: 100%;
  font-size: .95rem;
}