.power-item{
  border-bottom: .3px solid #555555;
  padding: .5rem;
}

.power-item .power-string{
  font-size: .9rem;
}
.power-item .surety{
  font-size: .8rem;
  color: #999999;
}

.power-string .prefix-amount{
  color: #999999;
  font-size: .75rem;
}

.power-item .defendant{
  font-size: .8rem;
  color: #999999;
  margin-bottom: .3rem;
}

.power-item .validity{
  font-size: .75rem;
  color: #999999;
}

.power-item .status{
  font-size: .65rem;
}
