<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item class="ion-no-padding ion-justify-content-around">
        <ion-label class="ion-padding-start">Dark Mode</ion-label>
        <ion-toggle [checked] = 'isDark' (ionChange)='OnToggle($event)'></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
