.bond-info{
  font-size: .9rem;
  color: #999999;
}

.bond-info ion-col{
  border-bottom: .3px solid #333;
}

.bond-info b{
  color: #666666;
}

h6{
  color: #405661;
}

.reported-cell{
  background-color: #ffedb6;
}

.exonerated-cell{
  background-color: #defef5;
}

.bedge{
  font-size: 9px;
}

.bedge-flex{
  display: flex;
  align-items: center;
}