.tab-header {
    font-size: 13px;
    letter-spacing: 0.7px;
}

.patty-cash {
    border-bottom: 1px solid #333333;
    padding: .5rem;
}

.patty-cash .name{
    font-size: .85rem;
    margin-bottom: .3rem;
}

.patty-cash .cash{
    font-size: .8rem;
    color: #999999;
}

.patty-cash .date{
    font-size: .8rem;
    color: #999999;
}

.patty-cash .email {
    font-size: .8rem;
    color: #999999;
    margin-bottom: .3r
}

.patty-cash .status{
    font-size: 12px;
    margin-top: 6px;
  }