<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Payments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-text-center ion-margin-top"
    style="font-size: .8rem; color: #555555;">
    <ion-col>
      <em>No payments found.</em>
    </ion-col>
  </ion-row>
</ion-content>
