.user-info{
  margin: 1rem 0 2rem 0;
  text-align: center;
  color: #929292 !important;
}

.user-image{
  width: 100px;
  height: 100px;
  border: 1px solid #121825;
  border-radius: 50%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


ion-label {
  --color: #29385d;
}

