.indemnitors{
  border-bottom: .3px solid #555555;
}

.left{
  font-size: .9rem;
}

.name{
  color: #999999;
}

.relation{
  font-size: .8rem;
  color: #ac9393;
}

.right{
  font-size: .8rem;
  color: #888888;
  font-style: italic;
}