.indem-item {
	border-bottom: 1px solid #333333;
	margin-bottom: .5rem;
	padding-bottom: .5rem;
	overflow: hidden;
}

.name {
	font-size: .9rem;
	color: #999999;
}

.email {
	color: #666666;
	font-size: .8rem;
	clear: left;
}

.relation {
	color: #666666;
	font-size: .8rem;
}

.info {
	font-size: .6rem;
}

.tags{
	margin-top: .5rem;
}

.tags ion-badge{
	font-size: .6rem;
	margin-right: .3rem;
}