.contact-table {
  --ion-grid-column-padding: 4px;
  border-collapse: collapse;
  border-style: hidden;

  ion-row:first-child {
    font-weight: bold;
  }

  ion-col {
    border: 0.5px solid #726d6d;
    border-bottom: 0;
    border-right: 0;
  }

  ion-col:last-child {
    border-right: 0.5px solid #726d6d;
  }

  ion-row:last-child {
    border-bottom: 0.5px solid #726d6d;
  }

  span {
    font-size: 0.75rem;
  }
}

ion-badge {
  font-size: 0.6rem;
}

hr {
  background-color: #726d6d;
}
