<ion-header>
  <ion-toolbar>
    <ion-title>Documents</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ng-container class="ion-padding">
    <ion-row>
      <ion-col size="12" class="ion-padding-top ion-padding-start ion-padding-end">
        <ion-button (click)="uploadDocumentFormModal()" expand="block" size="small">
          Add Document
        </ion-button>
      </ion-col>
      <!-- warning iPhone -->
      <ion-col *ngIf='isIos' size="12" class="warning-align ion-padding-start ion-padding-end">
        <span class="warning">
          To view PDFs please turn off pop-up block within Settings > Safari > Pop-Up Blocker
        </span>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="4" *ngFor="let doc of documents" (click)="presentActionSheet(doc)">
        <span class="content-center">
          <a class="doc-name" href="" *ngFor="let file of doc.files; let i = index" href="" [routerLink]="">
            <img width="50px" height="50px" *ngIf="file.extension === 'jpg' || file.extension === 'jpeg' || file.extension === 'png'"
            class="receipt-thumb"
            src="assets/images/image-icon.png">
            <img width="50px" height="50px" *ngIf="file.extension === 'pdf'"
            class="receipt-thumb"
            src="assets/images/pdf-icon.png">
            <ion-text>
              <h5 class="doc-name ion-no-margin" *ngIf="i === 0">{{ doc.name }}</h5>
              <div class="doc-date ion-no-margin">{{ doc.createdAt | date: 'MM/dd/yyyy'}}</div>
            </ion-text>
          </a>
        </span>
      </ion-col>
    </ion-row>
    <ng2-pdfjs-viewer #externalPdfViewer [externalWindow]="true"></ng2-pdfjs-viewer>
      <ion-row *ngIf="documents.length === 0">
        <ion-col>
          <p class="ion-text-center ion-text-medium">
            <em>No documents found.</em>
          </p>
        </ion-col>
      </ion-row>
  </ng-container>
</ion-content>